*{
  box-sizing: border-box;
}
html{
  height: 100%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body{
  height: 100%;
  margin: 0;
}
.container{
  height: 100%;
  background-color: #949b9a;
}

/* 스크린 크기 조정 */
.chat-screen{
  height:calc(100% - 120px);
}

/* 유저 정보 표시되는 부분 */
.user{
  background-color: #f7f3f3;
  padding: 16px;
  height: 80px;  
}
.user_column{
  float: left;
}
.user_pic{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #fcfcfc;
}
 .user_nick, .user_count{
  margin: 5px;
 }
 .user_count{
  font-size: 12px;
  color:gray;
 }

 /*채팅 입력 창*/
 .chat-form{
  height: 120px;
  background-color: #ffffff;
 }
 .chat-form_field{
  height: 120px;
 }
 .chat-form_msg{
  float: left;
  width: calc(100% - 120px);
  height: 120px;
  border: none;
  resize: none;
  font-size: 24px;
  padding: 10px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 .chat-form_bt{
  float: right;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: #fcc41f;
  font-size: 18px;
 }

 .chat-form_msg:focus{
  outline:none;
 }
 .chat-form_bt:active{
  background-color: #cb9d12;
 }